@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Philosopher:400,700");

.masthead {
    grid-area: header;
    height: 100vh; 
    background: transparent;
}
    nav {
        background-color: transparent;
        text-align: center;
    }
      ul a {
        color: #fff;
      }
    .masthead__content {
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }  
        .masthead__content > h1 {
            font-family: 'Fredericka the Great', sans-serif;
            font-size: 2em;
            line-height: 1.3;
            margin: 0;
            text-transform: uppercase;
        }

main {
    grid-area: main; justify-self: center;
    padding: 4em 1em;
    font-family: 'Philosopher', sans-serif;
    color: #333333;
}
    main > p:first-child::first-letter {
        float: left;
        font-size: 90px;
        padding: 15px;
        background-color: #363F48;
        color: #fff;
        margin: 5px 15px 15px 0;
    }
    main h2 {
        color: #888;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    blockquote {
        border-left: 1px solid #DDDDDD;
        margin: 0 15px 20px;
        padding: 10px 15px;
    }
    img {
      width: 98%;
    }

footer {
    background: #000;
    color: #fff;
}    
    footer::before {
        display: block;
        height: 35px;
        content: "";
        background: url("../../../images/edge_up_compressed.png") repeat-x scroll 0% 100%/contain #fff;
    }

    .footer-nav {
        display: flex; flex-direction: column; 
        align-items: center;
        padding: 30px 0;
    }
        .footer-nav li {
            padding: 10px;
        }
            .footer-nav a {
                color: #fff;
            }
                .footer-nav a:hover {
                    color: #2BBBAD;
                }


@media screen and (min-width: 768px) {
  
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav a {
        display: block;
        padding: 1em;
    }
        nav a:hover {
            background-color: #000;
        }   

    .masthead__content > h1 {
        font-size: 4.6875rem;
        line-height: 1.1;
    }


    main {
        width: 768px;
    }
        main > p:first-child::first-letter {
            font-size: 125px;
            padding: 20px;
        }
        main h2 {
            font-size: 40px;
            margin-top: 4rem;
            margin-bottom: 1.5rem;
        }
}

