html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: serif;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Header */

    /* Navigation base styles */
    nav {
        color: #fff;
        background-color: rgb(54, 49, 49);
    }
        nav > ul {
            list-style-type: none;
            padding: 0;
        }
            nav > ul > li > a {
                text-decoration: none;
                text-align: center;
                display: block;
                padding: 10px; 
            }

            nav > ul > li > a:hover {
                background-color: #555;
            }

    /*flex styles */
    @media screen and (min-width: 768px) {
            nav > ul {
                display: flex;
            }
            nav > ul > li {
                flex-grow: 1;
            }
    }

    

    .article-cover {
        height: 100%;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Adam_Bernaert_-_%22Vanitas%22_Still_Life_-_Walters_37682.jpg");
        background-position: center;
        background-size: cover;
    }
