html, body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Header */

    /* Navigation base styles */
    nav {
        color: #fff;
        background-color: rgb(54, 49, 49);
    }
        nav > ul {
            list-style-type: none;
            padding: 0;
            display: inline-block;
        }
            nav > ul > li > a {
                text-decoration: none;
                text-align: center;
                display: block;
                padding: 10px; 
            }

            
            /*flex styles */
            @media screen and (min-width: 768px) {
                nav {
                    background-color: transparent;
                }
                nav > ul {
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                }
                    nav > ul > li > a:hover {
                        background-color: #000;
                    }
    }

    @media screen and (min-width: 768px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:  auto;
            grid-template-areas: 
                "header"
                "main"
                "footer";
        }
            .masthead {
                grid-area: header;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Adam_Bernaert_-_%22Vanitas%22_Still_Life_-_Walters_37682.jpg");
                background-position: center;
                background-size: cover;
                height: 100vh;
                position: relative;
            }
                .article-content {
                    position: absolute;
                    top: 50%; left: 50%; transform: translate(-50%, -50%);
                    text-align: center;
                    color: #fff;
                }
                .article-content > h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 4.6rem;
                    line-height: 1.1;
                    margin: 0;
                }

            .main-content {
                grid-area: main;

                padding: 4em ;
            }

            
            
    }
    
