html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000;
  }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 0.33333fr);
        grid-gap: 1em;
    } 

        .grid > a {
            color: inherit;
            text-decoration: none;
        }
        .grid > div {
            min-height: 125px;
            background-color: #eee;
            padding: 1em;
        }