#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  justify-items: center;
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  #grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

